/* GLOBAL Styles */

* {
  margin:0;
  padding:0;  
}

/* HEADER */

header {
  margin: auto;
  top: 0vh;
  position: sticky;
  height: 10vh;
  width: 100vw;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 1vh;
  text-align: center;
  color: rgba(0,0,128,1.0);
  /* background-color: white; */
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,248,0,0.75) 0%, rgba(142,236,255,0.75) 25%, rgba(0,212,255,1) 50%, rgba(0,107,129,1) 100%);
}

header h1 {
  margin-top: 1vh;
}

/* #headercontent {
  position: absolute;
  bottom: 0;
  left: 35%;
} */

/* Custom Page Container */

.page-container {
  display: flex;
  height: 90vh;
}

/* ASIDE */

aside {
  float: left;
  min-width: 25vw;
  /* max-width: 25vw; */
  background-color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.search {
  /* placeholder */
}

/* MAIN */

main {
  float: left;
  min-width: 75vw;
  /* margin-left: 25vw;
  max-width: 75vw; */
  background-color: aliceblue;
  padding-top: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.current-city {
  display: flex;
  flex-direction: row;
}

.flex-row {
  display: flex;
}

.flex-row h4 {
  margin-right: 1vw;
}

/* Defines Location Search and Forecast Containers */
/* .column {
  float: left;
} */

.forecast {
  display: flex;
}


/* Search History */

.search-item {
  border: 1px solid blue;
}